<div class="modal-header">
    <h4 class="modal-title">New driver</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="newDriverForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="mb-3">
                <input type="text" class="form-control" id="nameInput" formControlName="name" [(ngModel)]="newDriver.name" placeholder="Name">
                <span class="text-danger" *ngIf="submitted && formControls.name.errors?.required">
                    This field is required
                </span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="nicknameInput" formControlName="nickname" [(ngModel)]="newDriver.nickname" placeholder="Nickname">
                <span class="text-danger" *ngIf="submitted && formControls.nickname.errors?.required">
                    This field is required
                </span>
            </div>
            <span class="text-danger" *ngIf="error">
                Name and nickname must be unique
            </span>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Add">
                <button type="button" class="btn btn-cancel" (click)="dismiss()">Cancel</button>
            </div>
        </div>
    </form>
</div>
