strawberry-graphql[fastapi]==0.155.3
uvicorn[standard]==0.20.0
sqlalchemy_utils==0.39.0
python-multipart==0.0.5
sse-starlette==1.2.1
sqlalchemy==2.0.1
starlette==0.25.0
pydantic==1.10.4
aiofiles==22.1.0
fastapi==0.92.0
alembic==1.9.2
pyirsdk==1.3.2
pylint==2.16.1
Pillow==9.4.0
colour==0.1.5
redis==4.4.4
sacn==1.9.0
