<div *ngIf="quote$ | async as quote">
  <div *ngIf="!quote.error; else error">
    <figure
      [@shortFadeIn]
      *ngIf="!quote.loading || quote.state.text; else loading"
      class="text-center"
    >
      <blockquote class="blockquote">
        <p>{{ quote.state.text }}</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        {{ quote.state.by }}
      </figcaption>
    </figure>
  </div>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #error> </ng-template>
