<div *ngIf="(quote$ | async) as quote">
  <div *ngIf="!quote.error; else error">
    <figure [@shortFadeIn] *ngIf="!quote.loading || quote.state.text; else loading" class="text-center">
      <blockquote class="blockquote">
        <p>{{ quote.state.text }}</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        {{ quote.state.by }}
      </figcaption>
    </figure>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>

<ng-template #error>

</ng-template>
