.table-container {
  width: 100%;

  th {
    cursor: pointer;
  }
}

#searchBar {
  width: 350px;
}

cdk-virtual-scroll-viewport {
  height: 600px;
}

@media screen and (min-width: 650px) {
  .reactive-font {
    font-size: 18px;
  }
}

@media screen and (max-width: 650px) {
  .reactive-font {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .reactive-font {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .reactive-font {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .reactive-font {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .reactive-font {
    font-size: 7px;
  }
}
