<div class="mb-1">
  <h1>High Scores</h1>
</div>
<div class="d-flex justify-content-between flex-wrap">
  <div class="mb-2">
    <div id="searchBar" class="input-group">
      <input
        type="search"
        class="form-control"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="searchText"
        (ngModelChange)="searchInput()"
      />
      <div class="input-group-append">
        <div *ngIf="!searchText.length" class="input-group-text">by</div>
        <div *ngIf="searchText.length" class="input-group-text">
          <span class="bi bi-arrow-left"></span>
        </div>
      </div>
      <div class="input-group-append">
        <select
          class="form-select"
          id="searchSelect"
          [(ngModel)]="searchColumn"
          (ngModelChange)="filterScores()"
        >
          <option value="driverName">Driver</option>
          <option value="car">Car</option>
          <option value="trackName">Track</option>
          <option value="trackConfig">Config</option>
        </select>
      </div>
    </div>
  </div>

  <div class="mb-2">
    <div id="filterOptions" class="input-group">
      <span class="input-group-text">Showing</span>
      <div class="input-group-append">
        <select
          class="form-select"
          id="showOptionSelect"
          [(ngModel)]="showFilter"
          (ngModelChange)="filterScores()"
        >
          <option value="overall">Overall best times</option>
          <option value="my">My best times</option>
        </select>
      </div>
      <span class="input-group-text">of</span>
      <select
        class="form-select"
        id="timeOptionSelect"
        [(ngModel)]="timeFilter"
        (ngModelChange)="filterScores()"
      >
        <option value="alltime">All time</option>
        <option value="today">Today</option>
        <option value="week">This week</option>
        <option value="month">This month</option>
        <option value="threemonths">Last 3 months</option>
        <option value="sixmonths">Last 6 months</option>
        <option value="year">This year</option>
      </select>
    </div>
  </div>
</div>

<div *ngIf="datasource.state$ | async as laptimes">
  <div *ngIf="!laptimes.error; else error">
    <div *ngIf="!laptimes.loading || laptimes.lastUpdated; else loading">
      <div *ngIf="laptimes.state.laptimes.length; else noLaptimes">
        <cdk-virtual-scroll-viewport
          #scrollViewport
          class="table-container"
          [itemSize]="50"
        >
          <table class="table table-bordered reactive-font">
            <thead id="scoreboardHeader">
              <tr>
                <th
                  class="col-md-1"
                  (click)="sortScores('driverName', 'toggle')"
                >
                  <div class="d-flex flex-nowrap">
                    <div class="m-1">Driver</div>
                    <div class="ms-auto m-1">
                      <span
                        *ngIf="filterParams.order.driverName === 'ASC'"
                        class="bi bi-sort-down-alt"
                      ></span>
                      <span
                        *ngIf="filterParams.order.driverName === 'DESC'"
                        class="bi bi-sort-up"
                      ></span>
                    </div>
                  </div>
                </th>
                <th class="col-md-2" (click)="sortScores('car', 'toggle')">
                  <div class="d-flex flex-nowrap">
                    <div class="m-1">Car</div>
                    <div class="ms-auto m-1">
                      <span
                        *ngIf="filterParams.order.car === 'ASC'"
                        class="bi bi-sort-down-alt"
                      ></span>
                      <span
                        *ngIf="filterParams.order.car === 'DESC'"
                        class="bi bi-sort-up"
                      ></span>
                    </div>
                  </div>
                </th>
                <th
                  class="col-md-3"
                  (click)="sortScores('trackName', 'toggle')"
                >
                  <div class="d-flex flex-nowrap">
                    <div class="m-1">Track</div>
                    <div class="ms-auto m-1">
                      <span
                        *ngIf="filterParams.order.trackName === 'ASC'"
                        class="bi bi-sort-down-alt"
                      ></span>
                      <span
                        *ngIf="filterParams.order.trackName === 'DESC'"
                        class="bi bi-sort-up"
                      ></span>
                    </div>
                  </div>
                </th>
                <th
                  class="col-md-1"
                  (click)="sortScores('trackConfig', 'toggle')"
                >
                  <div class="d-flex flex-nowrap">
                    <div class="m-1">Config</div>
                    <div class="ms-auto m-1">
                      <span
                        *ngIf="filterParams.order.trackConfig === 'ASC'"
                        class="bi bi-sort-down-alt"
                      ></span>
                      <span
                        *ngIf="filterParams.order.trackConfig === 'DESC'"
                        class="bi bi-sort-up"
                      ></span>
                    </div>
                  </div>
                </th>
                <th class="col-md-1" (click)="sortScores('time', 'toggle')">
                  <div class="d-flex flex-nowrap">
                    <div class="m-1">Time</div>
                    <div class="ms-auto m-1">
                      <span
                        *ngIf="filterParams.order.time === 'ASC'"
                        class="bi bi-sort-down-alt"
                      ></span>
                      <span
                        *ngIf="filterParams.order.time === 'DESC'"
                        class="bi bi-sort-up"
                      ></span>
                    </div>
                  </div>
                </th>
                <th class="col-md-1" (click)="sortScores('setAt', 'toggle')">
                  <div class="d-flex flex-nowrap">
                    <div class="m-1">Set</div>
                    <div class="ms-auto m-1">
                      <span
                        *ngIf="filterParams.order.setAt === 'ASC'"
                        class="bi bi-sort-up"
                      ></span>
                      <span
                        *ngIf="filterParams.order.setAt === 'DESC'"
                        class="bi bi-sort-down-alt"
                      ></span>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *cdkVirtualFor="let lapTime of datasource">
                <td>
                  <div class="d-flex flex-nowrap">
                    <div class="m-1">
                      <app-driver-avatar
                        [driver]="lapTime.driver"
                        [size]="'small'"
                      ></app-driver-avatar>
                    </div>
                    <div class="m-1">
                      {{ lapTime.driver.name }}
                    </div>
                  </div>
                </td>
                <td>
                  {{ lapTime.car }}
                </td>
                <td>
                  {{ lapTime.trackName }}
                </td>
                <td>
                  {{ lapTime.trackConfig }}
                </td>
                <td>
                  {{ lapTime.time * 1000 | date : 'mm:ss.SSS' : 'UTC' }}
                </td>
                <td>
                  {{ lapTime.setAt | dateAgo }}
                </td>
                <td hidden>
                  {{ lapTime.setAt }}
                </td>
              </tr>
            </tbody>
          </table>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #error>
  <app-error-message title="Error" message="Unable to access laptimes">
  </app-error-message>
</ng-template>

<ng-template #noLaptimes>
  <h3 class="text-center center-vh-15 text-muted">
    No lap times yet. Go burn some rubber!
  </h3>
</ng-template>

<ng-template #noFiltered>
  <h3 class="text-center center-vh-15 text-muted">
    No lap times matching filter criteria
  </h3>
</ng-template>
