<h1>Controllers</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                IP Address
            </th>
            <th scope="col">
                Universe
            </th>
            <th scope="col">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let controller of controllers">
            <td>
                <input *ngIf="controller.isBeingEdited" type="text" [(ngModel)]="controller.name" class="form-control" />
                <div *ngIf="!controller.isBeingEdited">{{ controller.name }}</div>
            </td>
            <td>
                <input *ngIf="controller.isBeingEdited" [(ngModel)]="controller.ipAddress" class="form-control" />
                <div *ngIf="!controller.isBeingEdited">{{ controller.ipAddress }}</div>
            </td>
            <td>
                <input *ngIf="controller.isBeingEdited" [(ngModel)]="controller.universe" class="form-control" />
                <div *ngIf="!controller.isBeingEdited">{{ controller.universe }}</div>
            </td>
            <td>
                <div class="btn-group" role="group">
                    <button *ngIf="!controller.isBeingEdited" class="btn btn-primary mr-1" (click)="editController(controller)">
                        <span class="bi bi-pencil-square"></span>
                    </button>
                    <button *ngIf="controller.isBeingEdited" class="btn btn-success mr-1" (click)="updateControllers()">
                        <span class="bi bi-check"></span>
                    </button>
                    <a class="btn btn-primary" href="http://{{controller.ipAddress}}" target="_blank">
                        <span class="bi bi-link"></span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="py-2">
    <button class="btn btn-primary" (click)="showAddControllerDialog()">
        <span class="bi bi-plus-circle-fill"></span> New controller
    </button>
</div>
