<h1>Controllers</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                IP Address
            </th>
            <th scope="col">
                Universe
            </th>
            <th scope="col">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let controller of controllers">
            <td>
                <input type="text" *ngIf="controller.isBeingEdited; else nameDisplay" [(ngModel)]="controller.name" class="form-control" />
                <ng-template #nameDisplay>{{ controller.name }}</ng-template>
            </td>
            <td>
                <input *ngIf="controller.isBeingEdited; else ipDisplay" [(ngModel)]="controller.ipAddress" class="form-control" />
                <ng-template #ipDisplay>{{ controller.ipAddress }}</ng-template>
            </td>
            <td>
                <input *ngIf="controller.isBeingEdited; else universeDisplay" [(ngModel)]="controller.universe" class="form-control" />
                <ng-template #universeDisplay>{{ controller.universe }}</ng-template>
            </td>
            <td>
                <button *ngIf="!controller.isBeingEdited" class="btn btn-primary mr-1" (click)="controller.startEditing()">Edit</button>
                <button *ngIf="controller.isBeingEdited" class="btn btn-success mr-1" (click)="controller.stopEditing();finishEdit()">Update</button>
                <a href="http://{{controller.ipAddress}}" target="_blank">
                    <button class="btn btn-primary">Test Connection</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>
