.profile-pic {
  cursor: pointer;

  &:hover {
    .upload-button {
        display: block;
    }
  }
}

#profile-card {
  min-width: 350px;
  max-width: 400px;
}

#stats {
  flex-grow: 1;
  min-width: 350px;
}

.upload-button {
  top: 50%;
  left: 5%;
  position: absolute;
  display: none;
}

.file-input {
  display: none;
}
