<div *ngIf="!error" class="d-flex flex-row flex-wrap">
    <div id="profile-card" *ngIf="driver" class="card p-2">
        <div class="card-header">
            <div (click)="fileInput.click()">
                <div class="profile-pic">
                    <svg *ngIf="!avatarURL" class="img-fluid rounded-circle"
                    width="512pt" height="512pt" viewBox="0 0 512 512">
                        <g transform="translate(0,512) scale(0.1,-0.1)"
                        fill="#000000" stroke="none">
                            <path d="M2200 4901 c-277 -60 -471 -158 -611 -310 -158 -171 -263 -384 -312
                            -635 -19 -99 -22 -144 -22 -401 0 -329 5 -365 80 -620 102 -344 338 -701 628
                            -953 208 -179 396 -279 565 -297 260 -29 689 277 998 710 99 139 208 369 269
                            570 15 50 30 97 33 105 3 8 7 26 9 40 2 14 10 70 19 125 8 55 18 202 21 326 6
                            222 5 229 -21 345 -75 324 -144 475 -304 661 -130 149 -309 251 -564 319 -100
                            27 -112 28 -403 30 -261 3 -311 1 -385 -15z m675 -146 c153 -29 277 -71 333
                            -113 41 -30 43 -17 -43 -327 -35 -126 -80 -293 -100 -370 -53 -201 -59 -212
                            -109 -227 -28 -8 -152 -12 -396 -12 -244 0 -368 4 -396 12 -50 15 -56 26 -109
                            227 -20 77 -63 235 -95 350 -71 255 -82 302 -75 325 10 32 207 108 350 135
                            104 20 537 19 640 0z m-1275 -1030 c123 -46 320 -102 460 -132 74 -16 137 -18
                            480 -18 508 0 537 4 939 136 163 54 216 68 222 58 35 -58 10 -539 -36 -696
                            -23 -77 -53 -106 -171 -163 -173 -84 -357 -137 -600 -170 -52 -8 -193 -10
                            -400 -7 l-319 4 -162 46 c-182 52 -305 100 -405 158 -128 75 -150 104 -173
                            225 -29 148 -45 536 -25 589 12 33 26 31 190 -30z m1256 -1200 c1 -51 -13
                            -371 -22 -493 l-6 -93 -57 -28 c-163 -83 -291 -80 -422 10 l-57 38 -6 83 c-8
                            100 -26 450 -26 496 l0 32 298 -2 297 -3 1 -40z"/>
                            <path d="M1550 1963 c-47 -25 -148 -75 -225 -110 -479 -219 -639 -315 -731
                            -436 -104 -137 -134 -250 -137 -502 -2 -172 -1 -182 22 -229 58 -118 292 -230
                            616 -294 329 -66 742 -106 1284 -125 l94 -3 -6 254 c-4 141 -7 318 -7 394 0
                            102 -3 140 -12 142 -7 2 -55 13 -107 25 -234 54 -461 175 -648 346 l-54 50
                            110 162 c61 89 111 166 111 171 0 14 -198 202 -213 202 -6 0 -50 -21 -97 -47z"/>
                            <path d="M3368 1925 c-205 -197 -449 -349 -653 -406 -168 -48 -320 -20 -554
                            101 -63 33 -122 60 -132 60 -28 0 -139 -142 -139 -178 0 -23 201 -139 331
                            -191 104 -42 190 -60 317 -69 l107 -7 3 -484 2 -484 218 6 c877 26 1525 157
                            1720 346 74 72 77 83 75 287 -2 212 -17 297 -68 401 -44 88 -160 215 -249 271
                            -80 51 -263 143 -485 244 -97 43 -223 104 -280 134 -58 30 -109 54 -115 54 -6
                            -1 -50 -39 -98 -85z"/>
                        </g>
                    </svg>
                    <img
                      *ngIf="avatarURL" class="img-responsive full-width rounded-circle"
                      src="{{ avatarURL }}" width="350px" height="350px"
                    >
                    <div class="upload-button">
                        <button *ngIf="!driver.profilePic" class="btn btn-secondary">
                            <span class="bi bi-upload"></span>  Upload
                        </button>
                        <button *ngIf="driver.profilePic" class="btn btn-secondary">
                            <span class="bi bi-pencil-fill"></span>  Change Avatar
                        </button>
                    </div>
                </div>
            </div>

            <input type="file" accept="image/*" class="file-input" (change)="setProfilePic($event)" #fileInput>
        </div>

        <div class="card-body">
            <form *ngIf="editingProfile">
                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input type="text" class="form-control" id="nameInput" name="nameInput" [(ngModel)]="driver.name">
                </div>
                <div class="form-group">
                    <label for="nickNameInput">Nickname</label>
                    <input type="text" class="form-control" id="nickNameInput" name="nickNameInput" [(ngModel)]="driver.nickname">
                </div>
                <div class="py-2">
                    <input type="submit" class="btn btn-success" value="Save" (click)="saveProfile()"/>
                    <button class="btn btn-cancel" (click)="cancelEdit()">
                        Cancel
                    </button>
                </div>
            </form>
            <div *ngIf="!editingProfile">
                <h4 class="display-4">{{ driver.name }}</h4>
                <h5>"{{ driver.nickname }}"</h5>
                <div class="d-grid">
                    <button type="button" class="btn btn-primary btn-block" (click)="editProfile()">
                        Edit Profile
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="px-2">
        <div id="stats" class="card">
            <div class="card-header text-center">
                <h3>Driver Stats</h3>
            </div>
            <div *ngIf="driverStats" class="card-body">
                <h4>
                    Track Time: {{ driverStats.trackTime | hoursMinutesSeconds }}
                </h4>
                <h4>
                    Records Held: {{ driverStats.recordsHeld }}
                </h4>
                <h4>
                    Favorite Track: {{ driverStats.favoriteTrack }}
                </h4>
                <button class="btn btn-danger btn-block" type="button" (click)="showDeleteProfileDialog()">
                    Delete Profile
                </button>
            </div>
        </div>
    </div>
</div>

<app-error-message
    *ngIf="error"
    title="Error"
    message="Unable to access your driver profile">
</app-error-message>
