<div class="d-flex flex-column justify-content-center">
    <h1 class="display-2 text-center py-4">SimRig Manager</h1>

    <app-quote></app-quote>

    <h3>
        Status:
    </h3>
    <div *ngIf="apiActive$ | async" class="alert alert-success">
        <span class="bi bi-circle-fill" style="color:green"></span><b> SimRig API: </b>SimRig API is active
    </div>

    <app-error-message *ngIf="!(apiActive$ | async)" title="SimRig API" message="SimRig API is offline"></app-error-message>

    <div *ngIf="(apiActive$ | async) && iracingData" class="accordion" id="iracing-accordion">
        <div class="accordion-item">
            <div class="accordion-header" id="iracing-status-header">
                <div class="accordion-button collapsed alert-success" type="button" data-bs-toggle="collapse" data-bs-target="#iracing-info" aria-expanded="false" aria-controls="iracing-info">
                    <span class="bi bi-circle-fill" style="color:green"></span>&nbsp;<b>iRacing:</b>&nbsp;Connected to an iRacing session
                </div>
            </div>
            <div id="iracing-info" class="accordion-collapse collapse" aria-labelledby="iracing-status-header" data-bs-parent="#iracing-accordion">
                <div class="accordion-body">
                  <div id="sessionInfo">
                    {{ iracingData.WeekendInfo.EventType }}
                    at
                    {{ iracingData.WeekendInfo.TrackDisplayName }}
                  </div>
                  <div id="sessionTime">
                    Session time:
                    {{ iracingData.SessionTime | hoursMinutesSeconds }}
                  </div>
                  <a class="nav-link" routerLink="/telemetry">
                    More
                  </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="(apiActive$ | async) && !iracingData" class="alert alert-warning">
        <app-hourglass-icon></app-hourglass-icon><b> iRacing: </b>Waiting for iRacing data
    </div>

    <app-error-message *ngIf="!(apiActive$ | async) && !iracingData" title="iRacing" message="Unable to access iRacing data"></app-error-message>

    <div *ngFor="let status of controllerStatus">
        <div *ngIf="status.online" class="alert alert-success">
            <span class="bi bi-circle-fill" style="color:green"></span><b> WLED: </b> {{ status.name }} is online
        </div>

        <app-error-message *ngIf="!status.online" title="WLED" message="{{ status.name }} is offline"></app-error-message>
    </div>

    <app-error-message *ngIf="!(apiActive$ | async)" title="WLED" message="Unable to get WLED controllers"></app-error-message>
</div>
