@import 'src/variables.scss';

#mainGrid {
  width: 100%;
  height: 100vh - $navbar-height;
}

.telemetry-component {
  width: fit-content;
  height: fit-content;
  resize: both;
  overflow: auto;
}

.drag-handle {
  cursor: grab;

  &:hover {
    color: $primary;
  }
}
