<h1>Drivers</h1>
    
<div *ngIf="!loading && !error && drivers.length">
    <table class="table table-hover table-clickable">
        <thead>
            <tr>
                <th>
                
                </th>
                <th>
                    Name
                </th>
                <th>
                    Nickname
                </th>
                <th>
                    Track Time
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let driver of drivers" [ngClass]="{'table-success': selectedDriver && driver.id === selectedDriver.driver.id}" (click)="selectDriver(driver)" style="cursor:pointer">
                <td>
                    <span *ngIf="selectedDriver && driver.id === selectedDriver.driver.id" class="bi bi-check2-circle" style="color: green"></span>
                </td>
                <td>
                    {{ driver.name }}
                </td>
                <td>
                    {{ driver.nickname }}
                </td>
                <td>
                    {{ driver.trackTime | hoursMinutesSeconds}}
                </td>
            </tr>
        </tbody>
    </table>    

    <div *ngIf="selectedDriver && driverChanged">
        <div class="alert alert-success">
            Welcome, <b>{{ selectedDriver.driver.nickname }}</b>! Your lap times are being recorded.
        </div>
        <a href="https://members.iracing.com/" target="_blank">
            Go to iRacing
        </a>
    </div>
</div>

<div *ngIf="!error" class="py-2">
    <button class="btn btn-primary" (click)="showAddDriverDialog()">
        <span class="bi bi-plus-circle-fill"></span> New driver
    </button>
</div>

<app-error-message *ngIf="error" title="Error" message="Unable to access drivers"></app-error-message>
