<div class="modal-header">
    <h4 class="modal-title">New Controller</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="newControllerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="mb-3">
                <input type="text" class="form-control" id="nameInput" formControlName="name" [(ngModel)]="newController.name" placeholder="Name">
                <span class="text-danger" *ngIf="submitted && formControls.name.errors?.required">
                    This field is required
                </span>
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="ipInput" formControlName="ipAddress" [(ngModel)]="newController.ipAddress" placeholder="IP Address">
                <span class="text-danger" *ngIf="submitted && formControls.ipAddress.errors?.required">
                    This field is required
                </span>
                <span class="text-danger" *ngIf="submitted && formControls.ipAddress.errors?.ipAddress">
                    Please enter a valid IP address
                </span>
            </div>

            <div class="mb-3">
                <input type="number" class="form-control" id="universeInput" formControlName="universe" [(ngModel)]="newController.universe" placeholder="Universe">
                <span class="text-danger" *ngIf="submitted && formControls.universe.errors?.required">
                    This field is required
                </span>
                <span class="text-danger" *ngIf="submitted && formControls.universe.errors?.pattern">
                    Invalid universe
                </span>
            </div>

            <span class="text-danger" *ngIf="error">
                IP address must be unique
            </span>
            
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Add">
                <button type="button" class="btn btn-cancel" (click)="dismiss()">Cancel</button>
            </div>
        </div>
    </form>
</div>
